# Build files
*.exe
*.o
*.obj

# Debug / build folders
build/
bin/
Debug/
Release/

# IDE files
.vscode/
.idea/

# CMake files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Visual Studio
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.user

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.temp